<div class="bubble-progress-container">
  <ul class="bubble-progress">
    <li class="progress-element"  *ngFor="let item of items;let i = index" [class.visited]="i<activeIndex" [class.active]="i==activeIndex">
      <div class="bubble" [mdTooltip]="item" mdTooltipPosition="above" (click)="onLinkClick(i)"></div>
      <div class="progress-line"></div>
    </li>
<!--
    <li class="progress-element visited"><div class="bubble"></div><div class="progress-line"></div></li>
    <li class="progress-element active"><div class="bubble"></div><div class="progress-line"></div></li>
    <li class="progress-element"><div class="bubble"></div><div class="progress-line"></div></li>
    <li class="progress-element visited"><div class="bubble"></div><div class="progress-line"></div></li>
    <li class="progress-element active"><div class="bubble"></div><div class="progress-line"></div></li>-->
  </ul>
</div>