:host {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0;
    left:0;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-icon{
    margin-right: 10px;
}


:host [md-button] {
    height: 25px;
    line-height: 24px;
    border-radius: 0;
    border-right: 1px solid rgba(255,255,255,0.4);
    padding: 0 6px;
    min-width: 40px;
}

.screen-overlay {
    pointer-events: all;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    overflow-x: hidden;
}