.dock-status {
    border: 2px solid #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 1px;
    color: #999;
}

.radio-group-header {
    // transform: scale(0.75);
    // transform-origin: left bottom;
    color: #999;
}

.mat-checkbox-inner-container{
    margin-top: 2px !important;
}