.margin-none{
  margin: 0;
}
.margin-all{
  margin: 16px;
}
.margin-vertical{
  margin-top:16px;
  margin-bottom: 16px;
}
.margin-vertical-only{
  margin: 16px 0;
}
.margin-horizontal{
  margin-left: 16px;
  margin-right: 16px;
}
.margin-horizontal-only{
  margin: 0 16px;
}
.margin-top{
  margin-top: 16px;
}
.margin-top-only{
  margin: 16px 0 0 0;
}
.margin-bottom{
  margin-bottom: 16px;
}
.margin-bottom-only{
  margin: 0 0 16px 0;
}
.margin-left{
  margin-left: 16px;
}
.margin-left-only{
  margin: 0 0 0 16px;
}
.margin-right{
  margin-right: 16px;
}
.margin-right-only{
  margin: 0 16px 0 0;
}



.padding-none{
  padding: 0;
}
.padding-all{
  padding: 16px;
}
.padding-vertical{
  padding-top:16px;
  padding-bottom: 16px;
}
.padding-vertical-only{
  padding: 16px 0;
}
.padding-horizontal{
  padding-left: 16px;
  padding-right: 16px;
}
.padding-horizontal-only{
  padding: 0 16px;
}
.padding-top{
  padding-top: 16px;
}
.padding-top-only{
  padding: 16px 0 0 0;
}
.padding-bottom{
  padding-bottom: 16px;
}
.padding-bottom-only{
  padding: 0 0 16px 0;
}
.padding-left{
  padding-left: 16px;
}
.padding-left-only{
  padding: 0 0 0 16px;
}
.padding-right{
  padding-right: 16px;
}
.padding-right-only{
  padding: 0 16px 0 0;
}