@import '../scss/variables';
@import "overridemedia";
@import "flexlayout";
@import 'fonts.css';
@import 'marginpadding';

/* Reset */

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}


/* Box-sizing border-box */

* {
  box-sizing: border-box;
}


/* Set up a default font and some padding to provide breathing room */

body {
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

// button:hover {
//   background-color: $secondary;
// }

/* platform specific */

.desktop lang-switcher {
  display: none;
}

.main-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // background-color: #FFF;
  // box-shadow: 0 0 4px rgba(0,0,0,0.3);
  // flex: 1;
  // padding: 16px 0;
  // background-color: #EEE;
  &.progress-blured {
    filter: blur(2px);
  }
}

// @media ($mat-small) {
//   .main-container {
//     margin-left: -16px;
//     margin-right: -16px;
//   }
// }
.container {
  // background-color: #EEEEEE;
  // margin-top: 32px;
  // margin: 16px -16px;
  // margin-top: 32px;
  /* padding-right: 16px; */
  max-width: 960px;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  &.centered {
    text-align: center;
  }
}

@media (max-width:960px) {
  .container {
    // margin: 0 -16px;
    // margin-top: 32px;
    // box-shadow: none;
    // width: 100%;
  }
}

.page-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #225FA2;
  margin-top: 0;
}

.content-title {
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin-top: 0;
}

.info-content {
  padding: 16px 0;
  &>p.title {
    font-size: 14px;
    font-weight: 700;
    color: #555;
    margin: 0;
  }
  &>p.info {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    margin: 0;
  }
}

a.content-link {
  text-decoration: none;
  font-size: 14px;
  color: #2260A4;
  text-transform: capitalize;
  font-weight: 300;
  &>span {
    font-size: 16px;
    float: left;
  }
  &>.mat-icon {
    float: left;
    margin-right: 5px;
    &+span {
      line-height: 24px;
    }
  }
}

.hr-dashed {
  border-top: 3px dotted #AAA;
}

md-radio-group>label {
  display: block;
  padding-bottom: 8px;
  padding-top: 8px;
}

.seperator-space {
  display: inline-block;
  width: 50px;
}

.mat-input-suffix .mat-icon.error-icon {
  color: #F44336;
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: 700;
  vertical-align: bottom;
}

.mat-input-suffix .mat-icon.no-error-icon {
  color: #673AB7;
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: 700;
  vertical-align: bottom;
}

.message-container {
  width: 100%;
  position: relative;
  background-color: #f5f5f5;
  box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.3), inset 0 -4px 4px -4px rgba(0, 0, 0, 0.3), 4px 0 0 0 #f5f5f5, -4px 0 0 0 #F5F5F5;
  transition: all 250ms ease-in-out;
  max-height: 0;
}

.message-container>.message {
  display: table;
  padding: 8px;
  width: 100%;
  border-bottom: 1px solid #FFF;
}

.message-container>.message:last-child {
  border-bottom: none;
}

.message>.mat-icon {
  display: table-cell;
  vertical-align: middle;
}

.message>p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  margin: 0;
  font-size: 14px;
}

.message.error>p,
.message.error>.mat-icon {
  color: #D9534F;
}

.message.warning>p,
.message.warning>.mat-icon {
  color: #F0AD4E;
}

.message.info>p,
.message.info>.mat-icon {
  color: #337AB7;
}

.message-container.active {
  padding: 0;
  max-height: 200px;
}

.message-container>.expander {
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -20px;
  padding: 0 10px;
  background-color: #f5f5f5;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.3);
  display: none;
  cursor: pointer;
}

.message-container.active>.expander {
  display: block;
}

.message-container>.expander>md-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

@import '@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
// @import 'responsivegrid.css';