@import '../scss/variables';
@import "overridemedia";
@import "flexlayout";
@import 'fonts.css';
@import 'marginpadding';

/* Reset */

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}


/* Box-sizing border-box */

* {
  box-sizing: border-box;
}


/* Set up a default font and some padding to provide breathing room */

body {
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

// button:hover {
//   background-color: $secondary;
// }

/* platform specific */

.desktop lang-switcher {
  display: none;
}

.main-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  // padding: 16px 0;
  // background-color: #EEE;
  &.progress-blured{
    filter:blur(2px);
  }
}

// @media ($mat-small) {
//   .main-container {
//     margin-left: -16px;
//     margin-right: -16px;
//   }
// }
.container {
  // background-color: #EEEEEE;
  // margin-top: 32px;
  // margin: 16px -16px;
  // margin-top: 32px;
  /* padding-right: 16px; */
  max-width: 960px;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  &.centered {
    text-align: center;
  }
}

@media (max-width:960px) {
  .container {
    // margin: 0 -16px;
    // margin-top: 32px;
    // box-shadow: none;
    // width: 100%;
  }
}

.page-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #225FA2;
  margin-top: 0;
}

.content-title {
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin-top: 0;
}

.info-content{
  padding: 16px 0;
  &>p.title{
    font-size: 14px;
    font-weight: 700;
    color: #555;
    margin: 0;
  }
  &>p.info{
    font-size: 14px;
    font-weight: 300;
    color: #666;
    margin: 0;
  }
}

a.content-link {
  
  text-decoration: none;
  font-size: 14px;
  color: #2260A4;
  text-transform: capitalize;
  font-weight: 300;
  &>span {
    font-size: 16px;
    float: left;
  }
  &>.mat-icon {
    float: left;
    margin-right: 5px;
    &+span {
      line-height: 24px;
    }
  }
}

.hr-dashed {
  border-top: 3px dotted #AAA;
}

md-radio-group>label {
  display: block;
  padding-bottom: 8px;
  padding-top: 8px;
}

.seperator-space {
  display: inline-block;
  width: 50px;
}

.mat-input-suffix .mat-icon.error-icon {
  color: #F44336;
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: 700;
  vertical-align: bottom;
}

.mat-input-suffix .mat-icon.no-error-icon {
  color: #673AB7;
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: 700;
  vertical-align: bottom;
}




@import '@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
// @import 'responsivegrid.css';